{% extends "lacrosse_quiz/layout.html" %}{% load static %}

{% block script%}
<script src="{% static 'lacrosse_quiz/beginQuiz.js' %}"></script>
{% endblock %}

{% block body %}
<h1>Welcome to the box lacrosse quiz!</h1>
<p id="quiz-description">Study the articles and take the quiz when you feel you are ready!</p>
<button id="begin-quiz" href="{% url 'question' %}">Start Quiz</button>
<ul>
    {% for article in articles %}
        <a href="{% url 'article' article %}">
            <li>{{ article }}</li>
        </a>
    {% endfor %}
</ul>
{% endblock %}